<%= link_to "Editar", edit_room_path(@room), class: 'btn btn-success pull-right' %>
<h1 class="page-header">Room <%= @room.name %></h1>
<%= @room.description %>


<%= link_to 'Nuevo dispositivo', new_room_device_path(@room), class: 'btn btn-success pull-right' %>
<h1 class="page-header">Dispositivos</h1>
<table class="table table-stripped table-condensed">
  <tr>
     <th>Nombre</th>
     <th>Descripcion</th>
     <th>Tipo</th>
     <th></th>
  </tr>
  <% @devices.each do |device| %>
    <tr>
      <td><%= link_to device.name, room_device_path(@room, device) %></td>
      <td><%= device.description %></td>
      <td><%= device.type %></td>
     <td>
       <%= link_to "Editar", edit_room_device_path(@room, device) %>
      </td>
    </tr>
  <% end %>
</table>
